{% extends "../../store/base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}



{% comment %} <style>
    .container-fluid {
        max-width: 100%;
    }

    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
</style> {% endcomment %}


<div class="">
    <div class="obramowanie">
        <form  action="{% url 'account:login' %}" method="post">

            {% csrf_token %}
            <h3 class= "sign">Sign In</h3>

            {% if form.errors %}
            <div class="alert alert-primary" role="alert">
                Error: Username or Password not correct!
            </div>
            {% endif %}
            <ul class="formularz">
            <li>

            <label >{{ form.username.label}}</label>
            </li><li>{{ form.username}}</li>

            <li>
            <label >{{ form.password.label}} </label>
            </li><li>
            {{ form.password}}</li>
            </ul>
            <div >
                <input type="hidden" name="next" value="{{ next }}">
                <button class="" type="submit" value="Log-in">Sign in
                </button>
            </div>
            
            <p >
                <a class = "" href="{% url "account:register" %}">Create an account</a>
            </p> 
            <p class="">
                <a href="{% url "account:pwdreset" %}">Forgotten Password?</a>
            </p>
        </form>
    </div>
</div>


{% endblock %}