{% extends "../../store/base.html" %} {% load static %} {% block title %}Basket Summary{%endblock %} {% block content %}


  <div class="container">
    <div class="">
      <h1 class="h2">Your Dashboard</h1>
    </div>
    <div class="okoncie">
      <div class="okoncie">In this section you can manage your <b>orders</b> and personal details.
        We are happy to help. Contact us with every problem: <b>+48 729 123 567</b></div>
      
      <div><a href="{% url "account:edit_details" %}">Change Details</a></div>
    </div>
    <hr />
  </div>



{% endblock %}