{% extends "../../store/base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}



<div class="login d-flex align-items-center py-5">
    <div class="obramowanie">
        <div class="row">
            <div class="  mx-auto">

    <form class="account-form px-4 pt-4" method="post" enctype="multipart/form-data">

        {% if user_form.is_valid and profile_form.is_valid  %}
        <div class="alert alert-primary" role="alert">
            Details successfully updated!
        </div>
        <p class="small text-center pt-0">
            <a href="{% url "account:dashboard" %}">Back to Dashboard</a>
        </p>
        {%else%}
        <h3>Modify your personal information</h3>
        <p>You may change your data using the following form:</p>
        {% endif %}

        {% if form.errors %}
        <div class="alert alert-primary" role="alert">
            Error: Please try again!
        </div>
        {% endif %}

        {% csrf_token %}
        <ul class = "formularz">
        <li></li>
        <label class="">{{ user_form.email.label}}</label>
        </li><li>
        {{ user_form.email }}
        </li><li>
        <label class="">{{ user_form.first_name.label}}</label>
        </li><li>
        {{ user_form.first_name }}
        </li><li>



        <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit"
            value="Save changes">Save Changes</button>
        </li>
        </ul><hr>
        </form>
        <form class="account-form px-4" action="{% url "account:delete_user" %}" method="post">
            {% csrf_token %}
            <p class=""><b>Delete Account</b></p>
            <p>Are you sure you want to delete your account?</p>
            <button type="submit" role="button"
                class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">Delete</button>
        </form>
            

            </div>
        </div>
    </div>
</div>

{% endblock %}