{% extends "./base.html" %}
{% load static %}
{% block title %}ShroomStore{% endblock %}
{% block content %}
<main>
  <div class="">
          <div class="wysrodkuj">
            <h1 class="big-text">All</h1>
          </div>
          <div class="">

            {% for product in products %}
  
            
            <div class="obramowanie">
              <img class="img" alt="Responsive image" src="{{ product.image.url }}">
              <div class="">
                <p class="card-text">
                  <a class="text-dark text-decoration-none"
                    href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                    {{product.price}}zł
                </p>
              </div>
            </div>
            {% endfor %}
    </div>
</main>
{% endblock %}