{% extends "../base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}


<main>
  


        <div class=""><h1 class="h3">Products for category: {{ category.name }}</h1></div>
        <div class="">

          {% for product in products %}

          
          <div class="obramowanie">
            <img class="img" alt="Responsive image" src="{{ product.image.url }}">
            <div class="card-body px-0">
              <p class="card-text">
                <a class="text-dark text-decoration-none"
                  href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                  £{{product.price}}
              </p>
            </div>
          </div>
          

          {% endfor %}

        </div>
      


</main>

{% endblock %}