{% extends "store/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}


<main class="pt-2">

  <div class="obramowanie" style="max-width: 1000em">


    <div class="">
        <div class="">
            <div class="">
                <div class="">
                    <h1 class="">{{ product.title }}</h1>
                    <div class=""><img class="" width="200em" alt="Responsive image" src="{{ product.image.url }}"> </div>
                </div>
                
            </div>
        </div>
        </div>



        <div class="">
            
            <div><span class="h3">Price: {{ product.price }}zł</span>
                   <div class="">
                                <label for="select">Quantity:</label>
                                <select id="select" class="h6" >
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                    </div>
            </div>
            <hr>
            <button type="button" id="add-button" value="{{product.id}}" class="">Add to basket</button>
            <button type="button" id="add-button" value="{{product.id}}" class="">Add to Favorites</button>
            

       

    </div>
  </div>
</main>

<script>
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_add" %}',
            data: {
                productid: $('#add-button').val(),
                productqty: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
               document.getElementById("basket-qty").innerHTML = json.qty
            },
            error: function (xhr, errmsg, err) {}
        });
    })
</script>

{% endblock %}